.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
}
#resultado{
    text-align: right;
    border: 2px solid #0004ff;
    border-radius: 10%;
    margin: 3px;  
    padding: 3px; 
}
#actual{
    text-align: right;
        border: 2px solid #c0c0c0;
        border-radius: 10%;
        margin: 3px;
        padding: 3px;
}
.botonCalcu{
    font-size: large;
    font-weight: bold;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #c3c4c7;
    color: #3a3a3b;
    border-radius: 15%;
}
.botonOp{
    font-size: large;
        font-weight: bold;
        font-style: italic;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #61ad6a;
        color: #076524;
        border-radius: 15%;
}